<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

</head>

<body>
    <!-- navbar -->
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('home')}}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('mnt')}}">Manager</a>
        </li>
    </ul>

    <!-- 제품 추가 등록 버튼 -->
    <div class="px-4 py-5 my-5 text-center">
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
            제품 추가
        </button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">제품 등록</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{{url_for('item_create')}}" method="POST">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">물품명</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                name="name">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">가격</label>
                            <input type="text" class="form-control" id="exampleInputPassword1" name="price">
                            <div id="emailHelp" class="form-text">숫자만 입력해주세요.</div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">보유수량</label>
                            <input type="text" class="form-control" id="exampleInputPassword1" name="count">
                            <div id="emailHelp" class="form-text">숫자만 입력해주세요.</div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">이미지URL</label>
                            <input type="text" class="form-control" id="exampleInputPassword1" name="imgUrl">
                        </div>
                        <button type="submit" class="btn btn-danger">등록</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- 제품 전체 조회 -->
    <div class="row row-cols-1 row-cols-md-4 g-4 mx-auto w-75 pb-5">
        {% for item in data %}
        <div class="col">
            <form action="{{url_for('item_del')}}" method="EDLETE">
                <div class="card h-100">
                    <p class="card-text">{{item.id}}</p>
                    <img src="{{item.imgUrl}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-name">{{item.name}}</h5>
                        <p class="card-text">{{item.price}} 원</p>
                        <p class="card-text">{{item.count}} 개</p>
                    </div>
                    <!-- Button trigger modal -->
                    <button type="submit" class="btn btn-danger" value="{{item.id}}" name="item_id">삭제</button>
                </div>
            </form>
        </div>
        {% endfor %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous">
        </script>

</body>

</html>